main {
  min-height: 700px;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* Carousel */

.carousel-item-active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  left: 45%;
  top: 45%;

  width: 60%;
}

.carousel-caption h2 {
  color: #ffff;
  width: 90%;
}

.carousel img {
  min-height: 200px;
  max-width: 50%;
  padding: 30px;
  margin: 5px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

.fluttercontainer {
  width: 100%;
}

.fluttercontainer em {
  font-size: 11px;
  margin-left: 27%;
  font-weight: 900;
  color: gray;
}

.fluttercontainer span {
  color: #ff9b00;
  font-weight: 900;
}

.flutterwave {
  background: #ff9b00;
  padding: 10px 20px;
  width: 100%;
  border: none;

  font-size: 15px;
  font-weight: 800;
  line-height: 25px;
  border-radius: 5px;
}
